In [29]:
# Count of positives / sum of negatives 
# Return an array, where the first element is the count of positives numbers and the second element is sum of negative numbers
def count_positives_sum_negatives(arr):
    arr1,arr2,arr3 = [],[],[]
    total = 0
    for i in arr:
        if len(arr) == 0:
            return arr
        if i > 0:
            arr1.append(i)
            i+=1 # unnecessary as it does not make a difference because for loop handles the iteration process
        if i < 0:
            total = total+i
            i+=1# unnecessary because for loop handles the iteration process
    a = len(arr1)
    b = total
   
    arr3.append(a)
    arr3.append(b)

    return arr3
arr = [1,2,3,4,5,6,7,8,9,10,-11,-12,-13,-14,-15]
count_positives_sum_negatives(arr)

[10, -65]

arr1,arr2,arr3 = [],[],[]
print(len(arr1))

In [25]:
# Tried another way to check possibilty
def count_positives_sum_negatives(arr):
    arr1,arr2,arr3 = [],[],[]
    total = 0
    for i in arr:
        if len(arr) == 0:
            return arr
            break
        if i > 0:
            arr1.append(i)
            i+=1
            #print(arr1)
            a = len(arr1) # this code should be out of the loop beacuse it gives wrong output as it iterates and calculates len each iteration and adds it to the arr3
            #print(a)
            arr3.append(a) # including this
        if i < 0:
            total = total+i
            i+=1
            #print(total)
            arr3.append(total) # the same happens here which results in wrong output. 
    

    return arr3
arr = [1,2,3,4,5,6,7,8,9,10,-11,-12,-13,-14,-15]
count_positives_sum_negatives(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -23, -36, -50, -65]

In [30]:
# The answer that chat gpt gave for the same above question
def count_positives_sum_negatives(arr):
    if not arr:  # Check if the array is empty or None
        return []
    
    count_positives = 0
    sum_negatives = 0
    
    for i in arr:
        if i > 0:
            count_positives += 1 # we used 1 because we have to add the count not the element value
        elif i < 0:
            sum_negatives += i
            
    return [count_positives, sum_negatives]

# Example usage
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]
result = count_positives_sum_negatives(arr)
print(result)  # Output should be [10, -65]

[10, -65]

In [35]:
def basic_op(operator, value1, value2):
    #your code here
    if operator == "+":
        return value1+value2
    elif operator == "-":
        return value1-value2
    elif operator == "*":
        return value1*value2
    elif operator=="/":
        return value1/value2
basic_op("+",12,24)

36

In [49]:
def multiply_elements(arr):
    result = 1
    for num in arr:
        result *= num
    return result

# Example usage
arr = [1, 2, 3, 4, 5]
product = multiply_elements(arr)
print(product)  # Output should be 120

120

In [53]:
def square_elements(arr):
    return [x * x for x in arr]

# Example usage
initial_array = [1, 2, 3]
result = square_elements(initial_array)
print(result)  # Output should be [1, 4, 9]

[1, 4, 9]

In [52]:
def square_elements(arr):
    for x in arr:
        x*x
        return x
arr = [1,2,3]
result = square_elements(arr)
print(result)

1

In [54]:
def square_elements(arr):
    result = []  # Create an empty list to store the results
    for x in arr:
        result.append(x * x)  # Append the square of x to the result list
    return result  # Return the result list after the loop

# Example usage
arr = [1, 2, 3]
result = square_elements(arr)
print(result)  # Output should be [1, 4, 9]

[1, 4, 9]

In [1]:
#DNA to RNA
#def dna_to_rna(dna):
dna = "GCAU"
dna[3] = "T"

TypeError: 'str' object does not support item assignment

In [3]:
def dna_to_rna(dna):
    # Replace all occurrences of 'T' with 'U'
    return dna.replace('T', 'U')

# Example usage
dna = "GCAT"
result = dna_to_rna(dna)
print(result)  # Output should be "GCAU"

GCAU

In [5]:
def dna_to_rna(dna):
    rna = ""
    for i in dna:
        if i == "T":
            rna+="U"
        else:
            rna+= i
    return rna

In [12]:
def find_average(numbers):
    sum = 0
    if  len(numbers)== 0:
        return 0
    else:
        for i in numbers:
            sum += i
            avg = sum/2
    return avg
numbers = [1,2,3]
find_average(numbers)

3.0

In [17]:
def square_sum(numbers):
    sum = 0
    for i in numbers:
        sum += i ** 2
    return sum  # Move the return statement outside the loop

# Example usage
numbers = [1, 2, 3]
result = square_sum(numbers)
print(result)  # Output should be 14

14

In [23]:
def sum_array(a):
    sum = 0
    if len(a)==0:
        return 0
    else:
        for num in a:
            sum+= num
    return sum
sum_array(a=[1,2,2])

5

In [6]:
def digitize(n):
    l = str(n).split(",")
    print(l)
   
    
digitize(n = 123)

['123']

In [19]:
n = 123
a = str(n)
b = list(a)
print(b)
c = b[::-1]
print(c)

['1', '2', '3']
['3', '2', '1']

In [21]:
def digitize(n):
    a = str(n)
    b = list(a)
    c = b[::-1]
    return c
digitize(n=123)

['3', '2', '1']

In [43]:
a = [10, 343445353, 3453445, 3453545353453]
b = min(a)
print(b)
a.remove(b)
print(a)
c = min(a)
print(c)
a.remove(c)
print(a)
sum = b + c
print(sum)

10
[343445353, 3453445, 3453545353453]
3453445
[343445353, 3453545353453]
3453455

In [44]:
# shortened code of the above
def sum_two_smallest_numbers(numbers):
    b = min(numbers)
    numbers.remove(b)
    c = min(numbers)
    sum = b + c
    return sum

In [50]:
num = [1,2,3]
print(type(num))
b = str(num)
print(b)
print(type(b))

<class 'list'>
[1, 2, 3]
<class 'str'>

In [74]:
def check(seq, elem):
    a = str(seq)
    b = str(elem)
    for i in a:
        if i == b:
            return True
            break
    return False
       
        
check(seq=["This",2,3],elem ="This")

False

In [76]:
a = ['hello', 'world', 'this', 'is', 'great']
b = a.strip(",")
print(b)

AttributeError: 'list' object has no attribute 'strip'

In [82]:
def is_isogram(string):
    #your code here
    lower_string = string.lower()
    seen = set()
    print
    for char in lower_string:
        if char in seen:
            return False
        seen.add(char)
        print(seen)
    return True
is_isogram("Disi")

{'d'}
{'d', 'i'}
{'d', 's', 'i'}

False

In [79]:
seen = set()
print(type(seen))
print(seen)

<class 'set'>
set()